@media only screen and (max-width: 600px) {

    .links .foto-linkedin {
        width: 30vh;
    }

    .links .foto-qr-code-linkedin {
        width: 20vh;
    }

    .links .foto-qr-code-github {
        width: 20vh;
    }

}